/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
/* ul {
  list-style: none;
} */
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Reset CSS */

* {
  box-sizing: border-box;
}

body {
  font-family: Courier New, monospace;
}

.header {
  background-color: #2E8B57;
  padding: 30px 40px;
  color: white;
    text-align: center;
}

.header #date {
  margin-bottom: 30px;
}


#date {

}

/*
.header:after {
  content: "";
  display: table;
  clear: both;
}
*/

input {
  margin: 0;
  border: none;
  border-radius: 100px;
  padding: 10px;
  float: left;
  font-size: 13px;
}

.third {
  margin-top: 20px;
}
/* To do list CSS */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #F5FFFA;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li span {
cursor: pointer;
 position: absolute;
 top: 50%;
 right: 0%;
 padding: 12px 40px;
 transform: translate(0%, -50%);
}

ul li:nth-child(odd) {
  background: #F8F8FF;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
/*
.close {
  cursor: pointer;
   position: absolute;
   top: 50%;
   right: 0%;
   padding: 12px 16px;
   transform: translate(0%, -50%);
}

.close:hover {
  background-color: #f44336;
  color: white;
}
*/

.addBtn {
  padding: 11px;
  margin-left: 10px;
  background: lightgreen;
  color: #555;
  float: right;
  min-width: 45px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 100px;
}

.addBtn:hover {
  background-color: #8FBC8F;
}
.clearBtn {
  padding: 11px;
  margin: 0 40px;
  background: #d9d9d9;
  color: #555;
  float: right;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 100px;
}

.clearBtn:hover {
  background-color: #bbb;
}

/* STYLING DROPDOWN */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    float: center;
  position: relative;
}
select{
    color: grey;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background: none;
    border: 1px solid darkgrey;
    color: darkgrey;
}
.select::after{
    position: relative;
    color: #c065c0;
    pointer-events: none;
}
.select:hover::after{
   color: #583429;
}
